.board {
  padding: 1rem;
}

.input {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  //border-bottom: dimgray solid 2px;
  margin-left: 1rem;
  .memo-container {
    &:hover {
      background-color: white;
    }
  }
}


.memo-container {
  float: left;
  width: 18rem;
  height: 16rem;
  border: 1px rgba(128, 128, 128, 0.32) solid;
  border-radius: 20px;
  margin: 1.5rem;
  background: white;
  &:hover {
    background-color: #f0a09f;
  }
  text-decoration: none;
}
//
//a:link { color: red; text-decoration: none;}
//a:visited { color: black; text-decoration: none;}
//a:hover { color: blue; text-decoration: underline;}


p {
  margin-top: 1rem;
  margin-left: 1rem;
}

.edit-container {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: row;
}

.name {
  flex-direction: row;
  height: 6rem;
  width:90%;
}

.edit {
  font-size: 15PX;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.remove {
  @extend .edit;
}

.content {
  height: auto;
  display: inline-block;
}

