.board {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
}

.memo {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 10px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
}

small {
  margin: auto;
  margin-left: 1rem;
}


.form{
  display: flex;
  flex-direction: row;
}

.edit {
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.remove {
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}


.container {
  display: flex;
  border-bottom: 1px rgba(128, 128, 128, 0.32) solid;
}
