<div>
  <a class="memo-container" *ngFor="let memo of memos">

    <div class="info">
      <div class="name">
        <p><strong>{{memo.userName}}</strong></p>
        <p><small> {{memo.created | date:'short' }} </small></p>
      </div>

      <div *ngIf="editMemo!=memo.id">
        <div class="edit-container">
          <div class="edit" (click)="onToggle(memo.id)">✎</div>
          <div class="remove" (click)="onRemove(memo.id)">✘</div>
        </div>
      </div>

      <div *ngIf="editMemo==memo.id">
        <div class="edit" (click)="onEdit(memo.id)">✔</div>
      </div>
    </div>


    <div *ngIf="editMemo!=memo.id" style="outline: none; cursor : pointer" routerLink="/memo/{{memo.id}}">
      <div class="memo-content">
        <p style="height: 12rem"> {{memo.content}}</p>
      </div>
    </div>

    <div *ngIf="editMemo==memo.id">
      <input class="edit-input" id="edit" [(ngModel)]="editValue" >
    </div>

  </a>
</div>

