<mat-drawer-container class="nav-container">
  <div style="margin-top: 5rem; margin-bottom: 5rem">
    <div class="nav-title"> GNGSN</div>
    <div class="nav-sub-title"> Angular too hard</div>
  </div>

  <mat-list class="nav-list-container">
    <div class="nav-list" routerLink="/" routerLinkActive="active" > blog</div>
    <div class="nav-list" routerLink="/memos"> setting</div>
    <div class="nav-list" routerLink="/memos"> portpolio</div>
    <div class="nav-list"></div>
  </mat-list>
</mat-drawer-container>
  <!--<router-outlet></router-outlet>-->


  <!--<mat-drawer #drawer class="example-sidenav" mode="side">-->
  <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
  <!--<button (click)="showFiller = !showFiller" mat-raised-button>-->
  <!--Toggle extra text-->
  <!--</button>-->
  <!--</mat-drawer>-->

  <!--<div class="example-sidenav-content">-->
  <!--<button type="button" mat-button (click)="drawer.toggle()">-->
  <!--Toggle sidenav-->
  <!--</button>-->
  <!--</div>-->


