<mat-drawer-container class="nav-container">
  <div class="nav-title-container">
    <div class="nav-title"> GNGSN</div>
    <div class="nav-sub-title"> Angular too hard</div>
  </div>

  <mat-list class="nav-list-container">
      <mat-nav-list class="nav-list" routerLink="/"> about</mat-nav-list>
      <mat-nav-list class="nav-list" routerLink="/memo"> memo</mat-nav-list>
      <mat-nav-list class="nav-list" routerLink="/posts"> develop</mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          D3.js
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="nav-list" routerLink="/d3"> d3.js</div>
          <div class="nav-list" style="border-bottom: 1px solid rgba(240, 248, 255, 0.53)" routerLink="/d3/circle">
            d3-circle.js
          </div>
        </mat-nav-list>
      </mat-expansion-panel>
  </mat-list>

  <div class="nav-min-size">
    <img src="assets/images/twotone-menu-24px.svg" (click)="showList = !showList" alt="h">
  </div>
  <mat-list *ngIf="showList" class="nav-list-min-container">
    <div class="nav-min-list" (click)="showList = !showList" routerLink="/"> about</div>
    <div class="nav-min-list" (click)="showList = !showList" routerLink="/memo"> memo</div>
    <div class="nav-min-list" (click)="showList = !showList" routerLink="/posts"> develop</div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        D3.js
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div class="nav-min-list" (click)="showList = !showList" routerLink="/d3"> d3.js</div>
        <div class="nav-min-list" (click)="showList = !showList" style="border-bottom: 1px solid rgba(240, 248, 255, 0.53)" routerLink="/d3/circle">
          d3-circle.js
        </div>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-list>
</mat-drawer-container>
